body {
  background-color: #eeecea;
}

h1 {
  font-family: "Poppins", "Arial";
}

h2 {
  font-family: "Poppins", "Arial";
}

p {
  font-family: "Poppins", "Arial";
}

a {
  font-family: "Poppins", "Arial";
  font-size:x-large;
  color: #F1342E;
}
