@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@config "../tailwind.config.js"

body {
  background-color: #ffffff;
}

h1 {
  font-family: "Poppins", "Arial";
}

h2 {
  font-family: "Poppins", "Arial";
}

p {
  font-family: "Poppins", "Arial";
}